@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 70, 70);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    border: 3px solid black;
}

.first-container {
    border: 3px solid yellow;
    max-width: 70%;
    font-size: 1.5rem;
}

.second-container {
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    width: 30%;
    font-size: 30px;
    height: 100vh;
}
.exa-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.exa {
    background-color: rgb(105, 52, 52);
    border: 1px solid black;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 80px;
}

.user-div{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    width: 40%;
    height: 40px;
    background-color:rgb(5, 70, 70);
    border: 1px solid black;
    padding: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-div{
    text-align: center;
}

.btn{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    transition: all 1s;
}

.btn:hover{
    background-color: rgb(5, 70, 70);
    color: white;
    cursor: pointer;
    border: 1px solid black;
}
